<p><%= @submission.created_at%><br><br>
<h1><%=@submission.title%></h1>
<h2><%= @submission.story%></h2>
<form action="/submissions">
<button type="submit">Go back</button></form></p>

<% if @submission.user.id == current_user.id %>
    <form action="/submissions/<%= @submission.id %>/edit">
        <button type="submit">Edit Story</button></form>
    <form action ="/submissions/<%= @submission.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Story</button>
    </form>
<% end %>

<%# current_user == @submission.user_id %>


  